body {
    font-family: 'Arial';
    background-image: url('../../assets/german_tank_wallpaper.jpeg');
}

h2 {
	width : 100%;
	display: inline-block;
	text-align : center;
}
canvas, #infos_div {
	display: block;
    margin: 0 auto;
}

canvas {
	margin-top: 50px;
}

#infos_div {
	border : 2px solid orange;
    border-radius: 10px;
	width: 80%;
	left: 10%;
	height : 40px;

    padding-left: 5px;
    padding-right: 5px;

	overflow: hidden;
	position : absolute;
	margin-bottom: 4px;

	background-color: lightblue;

	transition: height 1s;
	transition-delay : 0.3s;
}
#infos_div:hover {
	height: 300px;
}

#infos_div h4 {
	margin-top: 10px;
	text-align: center;
}

.hint {
    border-radius: 5px;
    background-color: orange;
    background-image: url('../../assets/hint-sign.png');
    background-size: 40px;
    background-position-x: 10px;
    background-position-y: 50%;
    background-repeat: no-repeat;
}

.hint p {
    display: inline-block;
    padding: 4px;
}

h4 span {
  color: rgb(151,151,151);
}